<section class="home-section home-parallax home-fade home-full-height bg-dark-30" id="home">
      <div class="s-home s-home--particles">
        <div id="particles-js" class="home-particles"></div>    
        <div class="titan-caption">
          <div class="caption-content">
            <!-- <div class="gradient-overlay"></div> -->
            {{!-- <div class="font-alt mb-40 titan-title-size-3">welcome to</div> --}}
            <div class="font-alt mb-40 titan-title-size-4"><img src="/assets/images/logo.png" style="width:30%; height:30%;" alt="Lex Capetal"></a></div>
            <div><a class="section-scroll btn btn-border-w btn-round titan-title-size-2" href="#about">Learn More</a></div>
          </div>
        </div>
      </div>
</section>

<div class="main">
  <section class="module" id="about">
    <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt">About Us</h2>
        <div class="module-subtitle font-serif large-text">
          <p>Lex Capital is the first sudoHedge-Fund of its kind. We combine proven investment and finance strategies with cutting edge technology creating the perfect hybrid. We are an alternative Blockchain &amp; Digital Asset focused fund. We created a proprietary Digital Asset trading algorithm which uses arbitrage to capitalize on the spreads of the market and the different exchanges. Our Mission is to be a leader in this disruptive innovative space, by investing in some of the latest cutting edge technologies while delivering optimal returns through our diversified strategies. Our Team is made up of professionals with extensive experience in: Trading, Investing, Venture Capital, Algorithmic Trading, Compliance, Business and Software development.</p>
        </div>
      </div>
      <div class="col-sm-2 col-sm-offset-5">
        <div class="large-text align-center"><a class="section-scroll" href="#services"><i class="fa fa-angle-down"></i></a></div>
      </div> 
    </div>
  </section>

  <hr class="divider-w">

  <section class="module" id="security">
    <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt">Security</h2>
        <div class="module-subtitle font-serif large-text">
          <p>Security at Lex Capital is of the utmost importance. For these reasons we have provided our clients with</p>
        </div> 
      </div>

      <div class="multi-columns-row">
        <div class="col-md-6">
          <div class="features-item">
            <div class="features-icon"><span class="icon-lock"></span></div>
            <h3 class="features-title font-alt">Insurance</h3>
            <p>Our policy insures against theft of Digital Assets from our hot wallet</p>
            <p>Security breach</p>
            <p>Hacks</p>
            <p>Fraudulent transfer</p>
            <p>Employee theft</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="features-item">
            <div class="features-icon"><span class="icon-wallet"></span></div>
            <h3 class="features-title font-alt">Cold Storage / Hot Wallet</h3>
            <p>Digital Assets held offline in guarded vaulted facilities which are geographically distributed throughout the US</p>
            <p>Multi-signature technology</p>
            <p>We use HSMs that have achieved a rating of FIPS PUB 140-2 Level 3 or higher</p>
          </div>
        </div>  
      </div>
    </div>
  </section>

  <section id="services" class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="assets/images/polygons.gif">
    <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt" style="color:white">Our Solution</h2>
        <div class="module-subtitle font-serif large-text">
          <p style="color:white">Lex Capital is a new type of Hedge-fund with a plethora of strategies backed by our proprietary technology. We offer full automation of trading strategies and execution in multiple markets.Through Lex Capital Investors do not need to worry about managing security keys. They don’t have to worry about where to store their Digital Assets. They do not have to worry about managing multiple accounts to trade efficiently in the markets.</p>
        </div> 
      </div>

      <div class="col-sm-8 col-sm-offset-2">
          <h2 class="module-title font-alt" style="color:white">Strategic Advantage</h2>
      </div>

      <div class="multi-columns-row col-sm-offset-2">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-linegraph" style="color:white"></span></div>
            <h3 class="features-title font-alt" style="color:white">Autonomous Digital Asset algorithms trading in multiple exchanges</h3>
          </div>
        </div>
              
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-clock" style="color:white"></span></div>
            <h3 class="features-title font-alt" style="color:white">Our algorithms run 24 X 7 X 365 &amp; capitalize on market spreads</h3>
          </div>
        </div>
              
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-genius" style="color:white"></span></div>
            <h3 class="features-title font-alt" style="color:white">We diversify &amp; have strategic partners in place to hedge against market downfalls</h3>
          </div>
        </div>  
      </div>
    </div>    
  </section>

  <hr class="divider-w">
  
  <section class="module" id="team">
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Our Team</h2>
      </div>
      <div>

        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4" onclick="wow fadeInUp">
          <div class="team-item">
            <div class="team-image"><img src="assets/images/alex.png" style="height: 270px;" alt="Alex Photo"/>
              <div class="team-detail">
                {{!-- <h5 class="font-alt">Founder &amp; CEO</h5> --}}
                <p class="font-serif">OptionXBOT Founder &amp; Fund Manager</p>
                <p class="font-serif">Algorithmic Trading</p>
                <p class="font-serif">Strategic Investments</p>
                <p class="font-serif">Business Development</p>
                <p class="font-serif">Blockchain/ Cryptocurrencies</p>
                
                <div class="team-social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </div>

              </div>
            </div>

            <div class="team-descr font-alt">
              <div class="team-name">Alex Mendoza</div>
              <div class="team-role">Founder &amp; CEO</div>
            </div>

          </div>
        </div>

        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4" onclick="wow fadeInUp">
          <div class="team-item">

            <div class="team-image"><img src="assets/images/holly.png" style="height: 270px;" alt="Holly Photo"/>
              <div class="team-detail">
                {{!-- <h5 class="font-alt">Partner - President of Investor Relations</h5> --}}
                <p class="font-serif">Has raised over $300M</p>
                <p class="font-serif">International Relations</p>
                <p class="font-serif">Banking Services</p>
                <p class="font-serif">Multi Family Offices</p>
                <p class="font-serif">Business Development</p>

                <div class="team-social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </div>
              </div>
            </div>

            <div class="team-descr font-alt">
              <div class="team-name">Holly Morgan</div>
              <div class="team-role">Partner - President of Investor Relations</div>
            </div>

          </div>
        </div>

        <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4" onclick="wow fadeInUp">
          <div class="team-item">

            <div class="team-image"><img src="assets/images/praveen.png" style="height: 270px;" alt="Praveen Photo"/>
              <div class="team-detail">
                {{!-- <h5 class="font-alt">Board of Advisors</h5> --}}
                <p class="font-serif">VP Goldman Sachs</p>
                <p class="font-serif">Morgan Stanley</p>
                <p class="font-serif">Algorithmic Trading</p>
                <p class="font-serif">Blockchain Professional</p>
                <p class="font-serif">Development of AutomatedTrading Systems</p>

                <div class="team-social">
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-linkedin-square"></i></a>
                </div>
              </div>
            </div>

            <div class="team-descr font-alt">
              <div class="team-name">Praveen Kumar</div>
              <div class="team-role">Board of Advisors</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


   
  <section class="module-small bg-dark" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Contact Us</h2>
          <div class="module-subtitle font-serif"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 ">
          <form id="contactForm" role="form" method="post" action="php/contact.php">
            <div class="form-group">
              <label class="sr-only" for="name">Name</label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <label class="sr-only" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div class="text-center">
              <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
            </div>
          </form>
          <div class="ajax-response font-alt" id="contactFormResponse"></div>
        </div>
      </div>
    </div>
  </section> 

  <hr class="divider-d">


  <div class="module-small bg-dark pt-0 pb-0 parallax-bg " data-background="assets/images/stock-ticker.gif">
    <div class="container">
        <div class="col-sm-3">
          <div class="widget">
            <h5 class="widget-title font-alt">About Lex Capital</h5>
            <p>Our Office:</p>
            <p>Phone: +1 234 567 89 10</p>Fax: +1 234 567 89 10
            <p>Email: <a href="#">info@lexcapital.io</a></p>
          </div>
          <div class="footer-social-links">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </div>
        </div>
    </div>
  </div>
  

  <hr class="divider-d">

  <footer class="footer bg-dark" 
    <div class="container">
      <div class="text-center">
        <p class="copyright font-alt">Copyright &copy; LexCapital</p>
      </div>
    </div>
  </footer>
 
</div>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div> 
